# ignored directories
ml4w/cache/
myconf/
private/
.zinit/
.zsh_sessions/

# lock files
*.lock

# zsh dynamic files
*.histfile
*.zcompdump
*.zsh_history

# systemd target directory
systemd/user/*.wants/
