# ignored folders
private/
zplug/

# zsh dynamic files
.histfile
.zcompdump

# powerlevel10k theme config, since most probably
# every machine will have a different preferences
.p10k.zsh

# systemd target directory
systemd/user/*.wants
