polkit.addRule(function(action, subject) {
    // Check whether the user is a member of the wheel group.
    if (subject.isInGroup("wheel")) {

        // Define the allowed actions
        var allowedActions = [
            "org.freedesktop.packagekit.package-install",
            "org.freedesktop.packagekit.package-remove",
            "org.freedesktop.packagekit.system-update",
            "org.freedesktop.packagekit.upgrade-packages",
            "org.freedesktop.packagekit.install-or-remove-packages",
            "org.freedesktop.packagekit.modify-system"
        ];

        // If the current action is in our list, allow it
        if (allowedActions.indexOf(action.id) !== -1) {
            return polkit.Result.YES;
        }
    }
});
