polkit.addRule(function(action, subject) {
    // Check whether the user is a member of the wheel group.
    if (subject.isInGroup("wheel")) {

        // Define the allowed actions
        var allowedActions = [
            "org.freedesktop.systemd1.kill",   // Send kill signal to a process.
            "org.freedesktop.systemd1.nice",   // Change process priority (nice).
            "org.freedesktop.systemd1.renice", // Modify process priority (renice).
            "org.freedesktop.systemd1.pkill"   // Send signal to processes by name using pkill.
        ];

        // If the current action is in our list, allow it
        if (allowedActions.indexOf(action.id) !== -1) {
            return polkit.Result.YES;
        }
    }
});
