polkit.addRule(function(action, subject) {
    // Check whether the user logged in locally and is a member of the wheel group.
    if (subject.active && subject.isInGroup("wheel")) {

        // Define the allowed actions
        var allowedActions = [
            // Package management
            "org.freedesktop.packagekit.package-install",  // Install a package
            "org.freedesktop.packagekit.package-remove",   // Uninstall a package
            "org.freedesktop.packagekit.system-update",    // Update all currently installed packages

            // Service management
            // implies org.freedesktop.systemd1.manage-units and org.freedesktop.systemd1.reload-daemon
            // This includes actions like: start, stop, enable, disable, restart, daemon-reload.
            "org.freedesktop.systemd1.manage-unit-files",
        ];

        // If the current action is in our list, allow it
        if (allowedActions.indexOf(action.id) !== -1) {
            return polkit.Result.YES;
        }
    }
});
