polkit.addRule(function(action, subject) {
    // Check whether the user logged in locally and is a member of the power group.
    if (subject.active && subject.isInGroup("power")) {

        // Define the allowed actions
        var allowedActions = [
            "org.freedesktop.consolekit.system.shutdown", // Shut down the system.
            "org.freedesktop.consolekit.system.reboot",   // Restart the system.
        ];

        // If the current action is in our list, allow it
        if (allowedActions.indexOf(action.id) !== -1) {
            return polkit.Result.YES;
        }
    }
});
